Source: kylin-scanner
Section: devel
Priority: optional
Maintainer: yushuoqi <yushuoqi@kylinos.cn>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper (>=11~),
               libglib2.0-dev,
               libleptonica-dev,
               libopencv-dev,
               libsane,
               libsane-dev,
               libtesseract-dev,
               liblept5,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qttools5-dev-tools,
               tesseract-ocr,
               tesseract-ocr-chi-sim,
               tesseract-ocr-eng
Standards-Version: 4.4.0
Rules-Requires-Root: no
Homepage: https://github.com/yusq/kylin-scanner
Vcs-Git: https://github.com/ukui/kylin-scanner.git
Vcs-Browser: https://github.com/ukui/kylin-scanner

Package: kylin-scanner
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libsane-dev
Description: Front-end for Scanning
 This software can scan according to the resolution, size and color mode of
 the scanning device itself.
 At the same time, It Increases post-processing of scanned pictures,
 including one-click beautification, intelligent correction and text
 recognition.
 Other image processing tips can also be reflected in this software,
 such as clipping, rotation, etc.
