Source: kylin-scanner
Section: devel
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper-compat (=12),
               libqt5svg5-dev,
               libglib2.0-dev,
               libx11-dev,
               libgsettings-qt-dev,
               libsane-dev,
               libopencv-dev,
               libtesseract-dev,
               libleptonica-dev,
               liblept5,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qttools5-dev-tools,
               libkf5windowsystem-dev,
               libqt5x11extras5-dev,
               pkgconf,
               policykit-1
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ubuntukylin/kylin-scanner
Vcs-Git: https://github.com/ubuntukylin/kylin-scanner.git
Vcs-Browser: https://github.com/ubuntukylin/kylin-scanner

Package: kylin-scanner
Architecture: any
Depends: ${misc:Depends},
         tesseract-ocr,
         tesseract-ocr-chi-sim,
         tesseract-ocr-eng,
         ${shlibs:Depends}
Description: Scanning utility based on SANE
 Kylin-scanner can scan according to the resolution, size and color
 mode of the scanning device.
 And it provides post-processing features for scanned images, such as
 clipping, rotation, one-click beautification, intelligent correction
 and text recognition, etc.
