[Desktop Entry]
Name=Scanner
Name[zh_CN]=扫描
GenericName=Scanner
GenericName[zh_CN]=扫描
Comment=An interface-friendly scanner, which could be also used as one-click beautification, intelligent correction and text recognition tools.
Comment[zh_CN]=一款可用于普通扫描、一键美化、智能纠偏和文字识别的界面友好扫描仪软件。
Exec=kylin-scanner %U
Icon=kylin-scanner
Type=Application
Categories=Application;Graphics;RasterGraphics;Scanning;OCR;2DGraphics;
Keywords=scannerfrontend
StartupNotify=true
