[Desktop Entry]
Name=Kylin Scanner
Name[zh_CN]=麒麟扫描
GenericName=kylin-scanner
GenericName[zh_CN]=麒麟扫描
Comment=A program to work with scanner. Can be used as a scanning, OCR, email tools.
Exec=kylin-scanner %U
Icon=kylin-scanner
Type=Application
Categories=Application;Graphics;RasterGraphics;Scanning;OCR;2DGraphics;
Keywords=scannerfrontend
StartupNotify=true
